h6{
  padding-top: 40px;
}

body{
  background-color: lightblue;
}

.container{
  background-color: lightgreen;
  padding: 50px;
}

form{
  padding: 40px;
  background-color: white;
  padding-bottom: 50px;
}
